<h1>Main#index</h1>
<% if @current_user %>
	<h3>Welcome <%= @current_user[:email] %> </h3>
<% else %>
	<h3>Please Login</h3>
<% end %>
<h1>ALL POSTS TESTING!</h1>
<% if @posts %>
	<% @posts.each do |post| %>
		<div class="well">
			<strong><a href='<%= post.link %>'><%= post.title %></a></strong><br>
			<em>-<%= post.user.name %></em><br>
			<%= link_to "Delete", post_path(post), method: :delete %>
			<%= link_to "Comments", post %>
		</div>
	<% end %>
	<% else %>
	Posts not found
<% end %>