<h1><%= @post.title %></h1>


<a class="btn btn-primary" data-toggle="modal" href='#modal-id'>New Comment</a>

<% @post.comments.each do |comment| %>
<div class="well">
  <p><%= comment.content %></p>
  <strong>By <%= comment.user.name %></strong>
</div>
<% end %>



<div class="modal fade" id="modal-id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <h1>Post a Comment</h1>

      <%= bootstrap_form_for [@post, @comment] do |f| %>
      <%= f.text_area :content %>

      <%= f.primary %>
      <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>