<h1><%= link_to @post.title, @post.link %></h1>

<%= link_to 'New Comment', new_post_comment_path(@post), class: 'btn btn-primary' %>

 <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#commentModal">
	Comment
</button>

<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Login
                </h4>
            </div>
          
            <div class="modal-body">
             	<%= bootstrap_form_for [@post, @comment] do |f| %>
				  <%= f.text_area :content %>
				  <%= f.primary %>
				<% end %>
            </div>
        </div>
    </div>
</div>



<% @post.comment.each do |comment| %>
<div class="well">
  <p><%= comment.content %></p>
  <strong>By <%= comment.user.name %></strong>
</div>
<% end %>