<%= link_to "All Posts", root_path %> |
<%= link_to "Home", user_path(@current_user) %> |
<%= link_to "Posts", posts_path %> |
<%= link_to "Comments", comments_path %> |
<%= link_to "Logout", logout_path, method: :delete %>
<h1>Comments#show</h1>

<%= @current_user.name %> <br>
<%= @comment.comment %>
<br>

<div>
	<a href="/comments/<%= @comment.id %>/edit">Edit</a>
	<%= link_to "Delete", comment_path(@comment), method: :DELETE %>
</div>
