<div class="table">
  <table>
  <tbody>
  <td>
  <tr>

    <h3><%= @post.title  %></h3> <span><a href="#"><%= image_tag 'grayarrow.gif' %></a> </span>
      <span><%= @post.link  %></span>
      <%= @vote.value  %> vote
      <%  @comments.each do |comment| %>
      
      <h5>Comments: <%= comment.content %> </h5>
      <%end%>

   
  </td>
  </tr>   
  </tbody>
</table>
<div class="comments"></div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Comment
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Comment</h4>
      </div>
      <div class="modal-body">
        <%= form_for :comment do |c| %>
        <%= c.text_area :content, placeholder: "content" %>
        <%= c.hidden_field :user_id, value: @current_user.id %>
         <%= c.hidden_field :post_id, value: params[:id]  %>

        <%= c.submit "Submit"  %>
        <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <!--   <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
</div> 