<header>
	<div class="row">
		<div class="logo col-xs-8">
			<a href="/">
			<h1><strong>
				blog.
			</strong></h1>
			</a>
		</div>
		<div class="nav-buttons col-xs-4">
		  <% if @current_user %>
		    <%= form_for :user, :url => logout_path, method: :delete do |form| %>
		      <%= form.submit  'Logout', class: 'btn btn-info' %>
		    <% end %>
		  <% else %>
		  	<%= link_to 'Signup', '/signup', class: 'btn btn-info' %>
		    <%= link_to 'Login', '/login', class: 'btn btn-info' %>
		  <% end %>
			<%= link_to '+ New Post', '/posts', class: 'btn btn-info' %>
		</div>

	</div>
</header>