<h1>Create an Account!</h1>

<%= form_for :user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: 'Enter your username'%>
  <%= f.label :email %>
  <%= f.email_field :email, placeholder: "Enter your email" %>
  <%= f.label :password_digest %>
  <%= f.password_field :password_digest, placeholder: "Enter your password" %>
  <%= f.submit "Signup" %>
<% end %>