<h1>Create Account</h1>

<%= form_for :user do |f| %>
  <%= f.email_field :email, placeholder: "Enter your email" %>
  <%= f.text_field :name, placeholder: "Enter your name" %>
  <%= f.password_field :password, placeholder: "Enter your password" %>
  <%= f.submit "Sign up" %>
<% end %>
