<div class="form">
  <p>Sign Up</p>
  <ul>
    <%= form_for :user, action:'create', method:'post' do |f| %>
      <li><%= f.text_field :email, placeholder: "Enter your email" %></li>
      <li><%= f.text_field :name, placeholder: "Enter your name" %></li>
      <li><%= f.password_field :password, placeholder: "Enter your password"%></li>
      <%= f.submit "Signup"%>
    <% end %>
  </ul>
</div>