<h1>User#show</h1>
<%= link_to "All Posts", root_path %> |
<%= link_to "Create Post", new_post_path %> |
<%= link_to "Posts", posts_path %> |
<%= link_to "Edit Profile", edit_user_path(@user) %> |
<%= link_to "Logout", logout_path, method: :delete %>
<br>

<h1><%= @user.name %></h1>
