<h1><%= @current_user.name %> User Profile</h1>

<h3>My Posts:</h3>

<%= @current_user.post.each do |post| %>
  <div class="well">
    <p><a href="<%= post.link %>"><%= post.title %></a></p>
  </div>
<% end %>

<h3>My Comments:</h3>

<%= @current_user.comment.each do |comment| %>
  <div class="well">
    <p><%= comment.content %></p>
    <p>Posted on: <%= comment.post.title %></p>
  </div>
<% end %>

