<br>

<p>User Profile</p>
<p><strong>Name:</strong> <%= @user.name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>

<br>
<p><strong><%= @user.posts.length %> Posts so far...</strong></p>
<% @user.posts.each do |p| %>
  <p><%= p.title %></p>
<% end %>

<br>

<p><strong><%= @user.comments.length %> Comments so far...</strong></p>
<% @user.comments.each do |c| %>
  <p><%= c.content %></p>
<% end %>
