<% if @current_user %>
    <h3 class="welcome">Welcome <%= @current_user.name %></h3>
<% end %>

<% if @current_user %>
    <%= form_for :post do |form| %>
        <%= form.text_field :title, placeholder: "Title Here" %>
        <%= form.url_field :link, placeholder: "Share a cool link!" %>
        <%= form.submit 'Post' %>
    <% end %>
<% end %>

<% @posts.each do |post| %>
<div class="well">

    <div class="upvoteForm">
    <% if @current_user %>
             <p data-choice="up" data-post="<%= post.id %>" data-count="<%= post.upvotes %>" data-user="<%= @current_user.id.to_s %>"
                <% @votes.each do |vote| %>
                  <% if post.id == vote.post_id and vote.choice == "up" %>
                    class="up-voted"
                  <% end %>
                <% end %>
                class="voteBtn"
             ><%= image_tag("thumb.png") %>
              </p>
              <p class="upvote_count" id="up_count_<%= post.id %>"><%= post.upvotes %></p>
    <% end %>
    </div>

  <div class="downvoteForm">
    <% if @current_user %>
             <p data-choice="down" data-post="<%= post.id %>" data-count="<%= post.downvotes %>" data-user="<%= @current_user.id.to_s %>"
                <% @votes.each do |vote| %>
                  <% if post.id == vote.post_id and vote.choice == "down" %>
                    class="down-voted"
                  <% end %>
                <% end %>
                class="voteBtn"
             ><%= image_tag("thumb-down.png") %>
              </p>
              <p class="downvote_count" id="down_count_<%= post.id %>"><%= post.downvotes %></p>
    <% end %>
    </div>

    <a href="<%= post.link %>"><h3><%= post.title %></h3></a>
    <p>posted by: <%= @users.find(post.user_id).name %></p>
    <button class="btn btn-primary collapseBtn" data-toggle="collapse" data-target="#<%= post.id %>">Comments Section</button>


    <div id="<%= post.id %>" class="collapse">
        <% if @current_user %>
            <%= form_for :comment, :remote => true, :url => '/comment' do |form| %>
            <%= form.text_field :content, class: "comment_" + post.id.to_s, placeholder: "Anything to say?" %>
            <%= form.hidden_field :post_id, :value => post.id %>
            <%= form.submit 'comment', class: "submitComment", :"data-post_id" => post.id, :"data-name" => @current_user.name  %>
            <% end %>
        <% end %>
        <h4>Comments:</h4>
        <div id="comments_for_<%= post.id %>">
            <% @comments.where(:post_id => post.id).each do |c| %>
                <p><strong><%= @users.find(c.user_id).name %>:</strong> <%= c.content %></p>
            <% end %>
        </div>
    </div>
</div>
<% end %>

<script>
    $('.voteBtn').on('click', function(){
        $(this).removeClass("voteBtn");
        $(this).off('click');
        var user = this.getAttribute("data-user");
        var post = this.getAttribute("data-post");
        var count = this.getAttribute("data-count");
        var choice = this.getAttribute("data-choice");
        if (choice == "up") {
            $(this).addClass("up-voted");
            $("#up_count_" + post).text(parseInt(count) + 1)
        }
        else {
            $(this).addClass("down-voted");
            $("#down_count_" + post).text(parseInt(count) + 1)
        }
        $.ajax({
            url: "/vote",
            method: "POST", 
            data: {
                user_id: user,
                post_id: post,
                choice: choice
            }
        }).done(function(response){
            console.log("vote submitted");
        })
    });

    $('.submitComment').on('click', function(){
        var postId = this.getAttribute("data-post_id");
        var name = this.getAttribute("data-name");
        var comment = $('.comment_' + postId).val()
        $('#comments_for_' + postId).prepend("<strong>" + name + "</strong> " + comment);
    })
</script>