<h1>Create a new post</h1>


<%= form_for @post, url: {action: "create"}, html: {class: "form"} do |p| %>
  
    <%= p.label :title %>
    <%= p.string :title %>

    <%= p.label :link %>
    <%= p.string :link %>

    <%= p.label :user %>
    <%= p.string :user %>
  
  <%= p.submit %>
<% end %>

<%= link_to "Back to All Posts", "/posts" %>
