<h1 class="text-center">LinkBoard</h1>

  <div class="container">
  <% if @current_user %>
    <h3 class="text-center">Welcome <%= @current_user[:email] %></h3>
    <%= form_for :user, :url => logout_path, method: :delete do |form| %>
            <% end %>
  <% else %>
    <h3>Please Login</h3>
    <%= link_to('Login', login_path) %>
    <p>Don't Have An Account? Sign Up!</p>
    <%= link_to('Signup', signup_path) %>
  <% end %>
  </div>

  <div class="row text-center">
    <%= link_to('Create Post', posts_new_path) %>
  </div>
  <br>
  <div class="container">
    <div class="well">
      <% @posts.each do |post| %>
        <h1><%= post.title %></h1>
        <a href="<%= post.link %>"><%= post.link %></a>
        <%= link_to "Delete Post", post_path(:id => post.id), method: :delete, class: "btn-sm btn-danger" %>
      <% end %>
    </div>
  </div>
</div>