<h1>LinkBoard</h1>

<%= link_to('Signup', signup_path) %>
<%= link_to('Login', login_path) %>
<%= link_to('Logout', logout_path, method: :delete) %>
<%= link_to('Create Post', posts_new_path) %>

<hr/>

<% @posts.each do |p| %>
  <h1><%= p.title %></h1>
  <a href="<%= p.link %>"><%= p.link %></a>
<% end %>