<div class="row">
  <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <table style="margin-top: 10px;" class="table table-news">
      <tbody class="header" style="background-color: #ff6600;">
        <tr>
          <td class="header-row">
              <img class="logo" src='<%= image_url "y18.gif" %>' />
              <span id="heading-name">Hacker News</span>
              <a class="nav-links" href="#">new</a> | 
              <a class="nav-links" href="#">comments</a> |
              <a class="nav-links" href="#">show</a> |
              <a class="nav-links" href="#">ask</a> |
              <a class="nav-links" href="#">jobs</a> |
              <a class="nav-links" data-toggle="modal" href='#modal-id'>submit</a>
          </td>
          <td style="vertical-align: middle;" class="header-row">
          <% if @current_user %>
          <span style="color:black;"><%= @current_user.email %> is logged in</span>  |  
          <% end %>
          <% if @current_user %>
          <a class="nav-links" href="/logout">logout</a>
          <%else%>
          <a class="nav-links" href="/login">login</a>
          <% end %>
             
          </td>
        </tr>
        </tbody>


        <tbody>
        <tr style="height:10px"></tr>
        <% @posts.each do |post| %>
        <% uri = URI(post.link) %>
        <tr>
          <td> 
           <span style="color: #777777;"><%=post.id%>.</span>
           <img style="vertical-align: top; height:12px" src='<%= image_url "grayarrow2x.gif" %>' />
           <span><%= post.title %></span><a class="main-link" href="<%=post.link%>"> (<%= uri.host%>)</a><br>
           <span style="padding-left:37px;" class="by-line">by <%=post.user.name%>   |</span> 
           <span class="comment-link"><a href="/posts/<%=post.id%>/comments">  <%= post.comments.count %> Comments</a></span> 
          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>
</div>


<div class="modal fade" id="modal-id">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create New Post</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for :post do |f| %>
       <%= f.text_field :title, placeholder: "Enter a title" %>
      <%= f.url_field :link, placeholder: "Enter a link"%>
      <%= f.primary %>
      <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>