
<% if @current_user %>
  <h3>Welcome, <a href="/profile"><%= @current_user[:name] %></a>!</h3>
<% else %>
  <h3>Please login</h3>
<% end %>
<a href="/signup">Sign Up</a>
<br>
<a href="/posts/new">Add a New Post</a>
<br>
<h3>All Posts</h3>

  <% @posts.each do |post| %>
    <div class="well">
      <h4> Title: <%= post.title %> </h4>
      <a href="<%=post.link%>"><%= post.link %></p></a>
      <p>Post Author: <%= @users.find(post.user_id).name %> </p>
      <% if @current_user %>
        <% if @current_user.id == post.user_id %>
      <%= link_to "Delete Post", "/posts/" + post.id.to_s, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn-xs btn-danger' %>
        <% end %>
      <% end %>
        
        <h5>Comments: <%= post.comments.size %></h5>
          <% @comments.where(:post_id => post.id).each do |c| %>
          <ul>
            <li><%= c.content %></li>
          </ul>
        <% end %>
          
            <%= form_for :comment, :url => '/comments' do |form| %>
              <%= form.text_field :content, placeholder: "Comment on this post" %>
              <%= form.hidden_field :post_id, :value => post.id %>
              <%= form.submit 'comment' %>
    <% end %>
    </div>  
  <% end %>
