<h1>All da posts</h1>

<% if @posts.length == 0 %>
  <p>There are no posts yet! Maybe you should<a href="posts/new"> make one</a>...</p>

<%else%>

  <ul class="list-group">
    <% @posts.each do |p|%>
      <li class="list-group-item">
        <h2><a href="comments/<%= p.id %>"><%= p.title %></a></h2>
        <h4><%= p.link %></h4>
        <p>By: <%= p.user.name %></p>
        <p>Rated: <%= p.points %></p>
        <a class="btn" href="comments/<%= p.id %>">View Comments</a>
      </li> 
    <%end%>   
  </ul>

<% end %>