<h1>Create a Post</h1>

<%= form_for :post, action:'create', method:'post' do |f| %>
  <%= f.text_field :title, placeholder: "Enter the title" %>
  <%= f.text_field :link, placeholder: "Enter the link"%>
  <%= f.hidden_field :user_id, value: @current_user.id %>
  <%= f.submit "Login"%>
<% end %>