<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<%= form_for @post do |t| %>
	<div>
		<%= t.label :title %>
		<%= t.text_area :title %>
	</div>
	<div>
		<%= t.label :link %>
		<%= t.text_area :link %>
	</div>
	<div>
		<%= t.label :user %>
		<%= t.text_area :user %>
	</div>
	<%= t.submit %>
<% end %>