<!-- <h1>Post#show</h1>
<p>Find me in app/views/post/show.html.erb</p> -->
<h1><%= @post.title %></h1>
<h3><a href="<%= @post.link %>"><%= @post.link %></a></h3>
<a href="<%= @post.link %>">Check it out.</a>
<p>By: <%= @post.user.name %></p>