<h1>All posts</h1>
<div class='row'>
	<ol>
		<% @posts.each do |post| %>
			<div class='well col-sm-9'>
				<li>
					<a href='<%= post.link %>'><h2><%= post.title %></h2></a>
					<p>By <%= post.user.name %></p>
					<%= render partial: 'posts/voting', locals: {post: post} %>
					<%= link_to "Comments", post_comments_path(post) %>
				</li>
			</div>
		<% end %>
	</ol>
</div>