<h1><%= @post.title %></h1>
<div><%= @post.link %></div>

<% if @current_user %>
	<hr>
	<div>
		<h4>Leave a comment</h4>
		<div>
			<%= form_for @comment_new, :url => {:action => "createComment", :method => :post} do |form| %>
				<%= form.text_area :content, placeholder: "Please leave a comment" %>
				<%= form.hidden_field :user_id, :value => @current_user.id %>
				<%= form.hidden_field :post_id, :value => @post.id %>
				<div>
					<%= form.submit "post", class: "button"%>
				</div>
			<% end %>
		</div>
	</div>
<% end %>

<hr>
<h4>Comments - <%= @comments.length %></h4>
<div>
	<% @comments.each do |c| %>
		<div>
			<p><%= c.content %></p>
			<p>- <i><%= c.user.name %></i></p>
		</div>
		<%= button_tag type: "button", :action => "up_vote", :method => :post do %>
			<span class="glyphicon glyphicon-thumbs-down"></span>
		<% end %>
		total up votes 
		<%= button_tag(type: "button", :action => "down_vote", :method => :post) do %>
			<span class="glyphicon glyphicon-thumbs-up"></span>
		<% end %>
		total down votes
	<% end %>
</div>