<h2>Your Posts</h2>

<% @posts.where(:user_id => @current_user.id).reverse.each do |post| %>
	<div class="well">
			<a href="<%= post.link %>"><h3><%= post.title %></h3></a>
			<button data-toggle="collapse" data-target="#<%= post.id %>">Read Comments</button>

			<div id="<%= post.id %>" class="collapse">
				<% @comments.where(:post_id => post.id).each do |comment| %>
					<p><strong><%= @users.find(comment.user_id).name %>:</strong> <%= comment.content %></p>
				<% end %>
			</div>
	</div>
<% end %>
