<!DOCTYPE html>
<html>
  <head>
    <title>LinkBoard</title>
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'partials/flash' %>
  	<header>
  		<% if @current_user %>
  			<%= form_for :user, :url => logout_path, method: :delete do |form| %>
  				<%= form.submit 'Logout' %>
  			<% end %>
  		<% else %>
  			<a href="/login"><button class="btn btn-primary">Login</button></a>
  		<% end %>
  	</header>
    <%= yield %>
  </body>
</html>
