<!DOCTYPE html>
<html>
<head>
  <title>LinkBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/flash" %>

<%= link_to 'Home', root_path %>
<%= link_to 'Register', signup_path %>
<%= link_to 'Log In', login_path %>
<%= link_to 'Log Out', login_path, :method => :delete %>
<%= link_to 'New Post', posts_new_path %>

<%= yield %>

</body>
</html>
