<!DOCTYPE html>
<html>
<head>
  <title>LinkBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/flash' %>

<div>
	<% if @current_user %>
	Currently logged in: <%= @current_user.name %>
	<%= link_to 'Logout', logout_path %>
	<%= link_to 'Posts' , post_path %>
	<% end %>
</div>

<%= link_to 'Sign-up', users_path %>

<%= link_to 'Log-in' , login_path %>


<%= yield %>


</body>
</html>
